@use "variables" as *;

.main-button {
  margin-top: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: $main_button_color;
  color: white;
  font-size: 18px;
  &:hover {
    color: white;
    background-color: $main_button_hover_color;
  }
}

.product-card-container {
  padding: 10px 20px;
}

.product-card-container .product-card {
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
  cursor: pointer;
  transition: 0.4s;
  .image {
    height: 350px;
  }

  .name {
    font-family: "Roboto Thin", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; // To limit product name in 1 line, otherwise: dots "..."
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .category {
    color: #9e9e9e;
  }

  .price {
    color: $website_color;
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto Thin", sans-serif;
  }
  .btn {
    background-color: $main_button_color;
    color: white;
    margin-top: 10px;
    width: 50%;
    border-radius: 20px;
    &:hover {
      background-color: $main_button_hover_color;
    }
  }
}

.product-card-container .product-card:hover {
  transform: scale(1.02);
}

.product-card-container .product-card.management {
  cursor: default;
  &:hover {
    transform: none;
  }
  .btn.update {
    background-color: #0aa600;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    &:hover {
      background-color: #008000;
    }
  }
  .btn.delete {
    background-color: #ff0000;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    &:hover {
      background-color: #cc0000;
    }
  }
}